# <b> <font color='red'>  Project in Data Science </font> </b>

## Analysing NBA historical data to discover patterns that should be adopted by franchises to succeed

#### <b>Andreas Neocleous
a.neocleous12@hotmail.com
</b>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

### Scraping as a test from hoopshype site

In [2]:
url="https://hoopshype.com/salaries/players/"

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')

In [3]:
length=len(salary_table.find_all("td"))

player_names=[salary_table.find_all("td")[i].text.strip() for i in range(9,length,8)]

column1=[salary_table.find_all("td")[i].text.strip() for i in range(10,length,8)]
column2=[salary_table.find_all("td")[i].text.strip() for i in range(11,length,8)]
column3=[salary_table.find_all("td")[i].text.strip() for i in range(12,length,8)]
column4=[salary_table.find_all("td")[i].text.strip() for i in range(13,length,8)]
column5=[salary_table.find_all("td")[i].text.strip() for i in range(14,length,8)]
column6=[salary_table.find_all("td")[i].text.strip() for i in range(15,length,8)]

In [4]:
df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_df=pd.DataFrame(df_dict)
salary_df[:5]

        player_names   salary ($)
0      Stephen Curry  $45,780,966
1          John Wall  $44,310,840
2       James Harden  $44,310,840
3  Russell Westbrook  $44,211,146
4       Kevin Durant  $42,018,900

### Transform salaries to numeric values

In [5]:
salary_df.replace({'\$':''}, regex = True,inplace=True)
salary_df.replace(',','', regex=True, inplace=True)

for item in salary_df.columns[1:]:
    
    salary_df[item]=pd.to_numeric(salary_df[item])
    
salary_df[:5]

        player_names  salary ($)
0      Stephen Curry    45780966
1          John Wall    44310840
2       James Harden    44310840
3  Russell Westbrook    44211146
4       Kevin Durant    42018900

### Creating arrays of years and team names in order to feed them as f string to for loops which is going to create for us all the DataFrames we need

In [6]:
years=[]
for i in range(2020,2000,-1):
    years.append(f"{i}-{i+1}")

team_names = ["portland_trail_blazers","oklahoma_city_thunder","los_angeles_clippers","cleveland_cavaliers","philadelphia_76ers",
              "miami_heat","golden_state_warriors","denver_nuggets","houston_rockets","orlando_magic",
              "los_angeles_lakers","milwaukee_bucks","toronto_raptors","washington_wizards","dallas_mavericks",
              "san_antonio_spurs","utah_jazz","brooklyn_nets","new_orleans_pelicans","boston_celtics",
              "minnesota_timberwolves","sacramento_kings","indiana_pacers","chicago_bulls","atlanta_hawks",
              "detroit_pistons","new_york_knicks","phoenix_suns","memphis_grizzlies","charlotte_hornets"]            
              
print(years)
print(team_names)
print(len(years))
print(len(team_names))

['2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017', '2015-2016', '2014-2015', '2013-2014', '2012-2013', '2011-2012', '2010-2011', '2009-2010', '2008-2009', '2007-2008', '2006-2007', '2005-2006', '2004-2005', '2003-2004', '2002-2003', '2001-2002']
['portland_trail_blazers', 'oklahoma_city_thunder', 'los_angeles_clippers', 'cleveland_cavaliers', 'philadelphia_76ers', 'miami_heat', 'golden_state_warriors', 'denver_nuggets', 'houston_rockets', 'orlando_magic', 'los_angeles_lakers', 'milwaukee_bucks', 'toronto_raptors', 'washington_wizards', 'dallas_mavericks', 'san_antonio_spurs', 'utah_jazz', 'brooklyn_nets', 'new_orleans_pelicans', 'boston_celtics', 'minnesota_timberwolves', 'sacramento_kings', 'indiana_pacers', 'chicago_bulls', 'atlanta_hawks', 'detroit_pistons', 'new_york_knicks', 'phoenix_suns', 'memphis_grizzlies', 'charlotte_hornets']
20
30

### Create a testing DataFrame by using f-strings

In [7]:
url=f"https://hoopshype.com/salaries/{team_names[0]}/{years[0]}/"
print(url)

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')



length=len(salary_table.find_all("td"))
player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]

df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_portland20_21=pd.DataFrame(df_dict)

https://hoopshype.com/salaries/portland_trail_blazers/2020-2021/

In [8]:
salary_portland20_21.replace({'\$':''}, regex = True,inplace=True)
salary_portland20_21.replace(',','', regex=True, inplace=True)

for item in salary_portland20_21.columns[1:]:
    
    salary_portland20_21[item]=pd.to_numeric(salary_df[item])
    
salary_portland20_21[:5]

       player_names  salary ($)
0    Damian Lillard    45780966
1       CJ McCollum    44310840
2      Jusuf Nurkic    44310840
3  Robert Covington    44211146
4     Norman Powell    42018900

### We are going to create a dictionary with keys being name of teams plus year using f-strings and their values will be their payroll as a DataFrame

In [65]:
payrolls=dict()
for i in range(0,len(team_names)):
    for j in range(0,len(years)):
        url = f"https://hoopshype.com/salaries/{team_names[i]}/{years[j]}/"
        
        salary_table = []
        try:
            r = requests.get(url,timeout=3)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        length=len(salary_table.find_all("td"))
        player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
        column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]
        
        column2 = []
        for k in range(0,len(player_names)):
            
            if k == len(player_names)-1:
                column2.append("NaN")
                break
            
            player_name_trans = player_names[k].replace(' ','-')
            
            url_player = f"https://hoopshype.com/player/{player_name_trans}/salary/"
            
            r = requests.get(url_player,timeout=5)
            r_html = r.text

            soup = BeautifulSoup(r_html, 'html.parser')
            htmlText = soup.find_all("span", class_="player-bio-text-line-value")
            positionString = str(htmlText[0])

            position = positionString.find(">")

            column2.append(positionString[position+1])
            
            
        
        salary_table = []
        try:
            r = requests.get(url,timeout=3)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        df_dict={'player_names':player_names,
                'salary ($)':column1,
                    'position':column2}
        
        
        
        tempDataFrame=pd.DataFrame(df_dict)
        
        tempDataFrame.replace({'\$':''}, regex = True,inplace=True)
        tempDataFrame.replace(',','', regex=True, inplace=True)
        for item in tempDataFrame.columns[1:2]:
            tempDataFrame[item]=pd.to_numeric(tempDataFrame[item])
            
        
        payrolls[f"{team_names[i]}{years[j]}"] = tempDataFrame

               player_names  salary ($) position
0            Damian Lillard    31626953        G
1               CJ McCollum    29354152        G
2              Jusuf Nurkic    12888889        C
3          Robert Covington    12138345        F
4             Norman Powell    10865952        G
5             Derrick Jones     9258000        F
6              Zach Collins     5406255        C
7               Enes Kanter     5005350        -
8          Andrew Nicholson     2844429        -
9           Carmelo Anthony     2564753        F
10          Anfernee Simons     2252040        G
11            Nassir Little     2210640        F
12         Anderson Varejao     1913345        -
13              Harry Giles     1620564        -
14                CJ Elleby      898310        F
15  Rondae Hollis-Jefferson      502957        -
16           Keljin Blevins      449115        G
17                  TJ Leaf      104598        -
18                   Totals   131904647      NaN
        player_names  salary ($) position
0     Damian Lillard    29802321        G
1        CJ McCollum    27556959        G
2   Hassan Whiteside    27093018        C
3       Trevor Ariza    12200000        F
4       Jusuf Nurkic    12000000        C
5        Rodney Hood     5718000        F
6       Zach Collins     4240200        C
7    Carmelo Anthony     2159029        F
8    Anfernee Simons     2149560        G
9      Nassir Little     2105520        F
10    Caleb Swanigan     2033160        -
11     Mario Hezonja     1737145        -
12    Wenyen Gabriel     1445697        F
13     Gary Trent Jr     1416852        G
14      Jaylen Adams      163356        -
15       Moses Brown       79568        C
16      Jaylen Hoard       79568        F
17            Totals   131979953      NaN
        player_names  salary ($) position
0     Damian Lillard    27977689        G
1        CJ McCollum    25759766        G
2        Evan Turner    17868853        -
3       Jusuf Nurkic    11111111        C
4       Moe Harkless    10837079        F
5     Meyers Leonard    10595506        -
6    Al-Farouq Aminu     6957105        -
7       Zach Collins     3628920        C
8        Rodney Hood     3472887        F
9   Andrew Nicholson     2844429        -
10        Seth Curry     2795000        G
11   Anfernee Simons     1837800        G
12       Jake Layman     1544951        F
13   Skal Labissiere     1544951        -
14     Gary Trent Jr      838464        G
15       Enes Kanter      642089        -
16            Totals   130256600      NaN
               player_names  salary ($) position
0                Al Horford    27500000        C
1            Meyers Leonard     9400000        -
2             Darius Miller     7000000        -
3            Justin Jackson     5029650        -
4                   TJ Leaf     4326825        -
5   Shai Gilgeous-Alexander     4141320        G
6              Gabriel Deck     3870370        -
7              Tony Bradley     3542060        F
8             Austin Rivers     3500000        G
9        Aleksej Pokusevski     2964840        F
10            Darius Bazley     2399160        F
11                Ty Jerome     2303040        G
12             Mike Muscala     2283034        F
13         Kenrich Williams     2000000        G
14             Theo Maledon     2000000        G
15    Sviatoslav Mykhailiuk     1663861        G
16                Josh Gray     1620564        -
17            Luguentz Dort     1517981        G
18              Isaiah Roby     1517981        F
19        Admiral Schofield     1517981        F
20           Zylan Cheatham     1445697        F
21              Moses Brown     1250000        C
22             Kyle Singler      999200        -
23        Patrick Patterson      737067        -
24                Josh Hall      449115        -
25            Frank Jackson      250000        G
26            Charlie Brown      217844        G
27          Justin Robinson      198040        G
28             Jaylen Hoard      129209        F
29                   Totals    95774839      NaN
               player_names  salary ($) position
0                Chris Paul    38506482        G
1              Steven Adams    25842697        C
2          Danilo Gallinari    22615559        F
3          Dennis Schroeder    15500000        G
4            Andre Roberson    10740740        -
5   Shai Gilgeous-Alexander     3952920        G
6         Terrance Ferguson     2475840        -
7             Darius Bazley     2284800        F
8              Mike Muscala     2028594        F
9              Nerlens Noel     1882867        F
10              Abdel Nader     1618520        -
11              Isaiah Roby     1500000        F
12           Hamidou Diallo     1416852        G
13            Deonte Burton     1416852        -
14            Luguentz Dort      155647        G
15             Kevin Hervey       79568        -
16                   Totals   132017938      NaN
         player_names  salary ($) position
0   Russell Westbrook    35665000        G
1         Paul George    30560700        F
2        Steven Adams    24157304        C
3    Dennis Schroeder    15500000        G
4      Andre Roberson    10000000        -
5        Jerami Grant     8333333        F
6   Patrick Patterson     5451600        -
7        Alex Abrines     3667645        -
8      Raymond Felton     2393887        -
9   Terrance Ferguson     2118840        -
10       Nerlens Noel     1757429        F
11       Kyle Singler     1665333        -
12        Abdel Nader     1378242        -
13     Hamidou Diallo      838464        G
14    Markieff Morris      573294        F
15      Deonte Burton      500000        -
16        Tyler Davis       77250        -
17     Donte Grantham       77250        -
18        Jawun Evans       77250        -
19      Scotty Hopson       76236        F
20    Richard Solomon       47370        -
21             Totals   144916427      NaN
         player_names  salary ($) position
0         Paul George    35450412        F
1       Kawhi Leonard    34379100        F
2       Marcus Morris    14883721        F
3    Patrick Beverley    13333333        G
4         Serge Ibaka     9258000        C
5         Rajon Rondo     7500000        G
6         Ivica Zubac     7000000        C
7        Luke Kennard     5273826        F
8   Patrick Patterson     3077704        -
9       Nicolas Batum     2564753        F
10     Reggie Jackson     2331593        G
11       Terance Mann     1517981        G
12       Daniel Oturu      898310        -
13   DeMarcus Cousins      720239        C
14        Amir Coffey      578842        F
15         Jay Scrubb      449115        G
16       Yogi Ferrell      444149        -
17        Malik Fitts       61528        F
18             Totals   139722606      NaN

ConnectTimeout: HTTPSConnectionPool(host='hoopshype.com', port=443): Max retries exceeded with url: /player/Mfiondu-Kabengele/salary/ (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x0000028810EB0288>, 'Connection to hoopshype.com timed out. (connect timeout=5)'))

### We will print first team's payroll of last year and last team's of first year

In [40]:
payrolls["portland_trail_blazers2020-2021"]

               player_names  salary ($)
0            Damian Lillard    31626953
1               CJ McCollum    29354152
2              Jusuf Nurkic    12888889
3          Robert Covington    12138345
4             Norman Powell    10865952
5             Derrick Jones     9258000
6              Zach Collins     5406255
7               Enes Kanter     5005350
8          Andrew Nicholson     2844429
9           Carmelo Anthony     2564753
10          Anfernee Simons     2252040
11            Nassir Little     2210640
12         Anderson Varejao     1913345
13              Harry Giles     1620564
14                CJ Elleby      898310
15  Rondae Hollis-Jefferson      502957
16           Keljin Blevins      449115
17                  TJ Leaf      104598
18                   Totals   131904647

In [41]:
payrolls[f"denver_nuggets2013-2014"]

KeyError: 'denver_nuggets2013-2014'

In [35]:
url=f"https://hoopshype.com/player/stephen-curry/salary"

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')
htmlText = soup.find_all("span", class_="player-bio-text-line-value")
positionString = str(htmlText[0])

position = positionString.find(">")

print(positionString[position+1])

G