# <b> <font color='red'>  Project in Data Science </font> </b>

## Analysing NBA historical data to discover patterns that should be adopted by franchises to succeed

#### <b>Andreas Neocleous
a.neocleous12@hotmail.com
</b>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

### Scraping as a test from hoopshype site

In [2]:
url="https://hoopshype.com/salaries/players/"

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')

In [3]:
length=len(salary_table.find_all("td"))

player_names=[salary_table.find_all("td")[i].text.strip() for i in range(9,length,8)]

column1=[salary_table.find_all("td")[i].text.strip() for i in range(10,length,8)]
column2=[salary_table.find_all("td")[i].text.strip() for i in range(11,length,8)]
column3=[salary_table.find_all("td")[i].text.strip() for i in range(12,length,8)]
column4=[salary_table.find_all("td")[i].text.strip() for i in range(13,length,8)]
column5=[salary_table.find_all("td")[i].text.strip() for i in range(14,length,8)]
column6=[salary_table.find_all("td")[i].text.strip() for i in range(15,length,8)]

In [4]:
df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_df=pd.DataFrame(df_dict)
salary_df[:5]

        player_names   salary ($)
0      Stephen Curry  $45,780,966
1          John Wall  $44,310,840
2       James Harden  $44,310,840
3  Russell Westbrook  $44,211,146
4       Kevin Durant  $42,018,900

### Transform salaries to numeric values

In [ ]:
salary_df.replace({'\$':''}, regex = True,inplace=True)
salary_df.replace(',','', regex=True, inplace=True)

for item in salary_df.columns[1:]:
    
    salary_df[item]=pd.to_numeric(salary_df[item])
    
salary_df[:5]

        player_names  salary ($)
0      Stephen Curry    45780966
1          John Wall    44310840
2       James Harden    44310840
3  Russell Westbrook    44211146
4       Kevin Durant    42018900

### Creating arrays of years and team names in order to feed them as f string to for loops which is going to create for us all the DataFrames we need

In [ ]:
years=[]
for i in range(2020,2000,-1):
    years.append(f"{i}-{i+1}")

team_names = ["portland_trail_blazers","oklahoma_city_thunder","los_angeles_clippers","cleveland_cavaliers","philadelphia_76ers",
              "miami_heat","golden_state_warriors","denver_nuggets","houston_rockets","orlando_magic",
              "los_angeles_lakers","milwaukee_bucks","toronto_raptors","washington_wizards","dallas_mavericks",
              "san_antonio_spurs","utah_jazz","brooklyn_nets","new_orleans_pelicans","boston_celtics",
              "minnesota_timberwolves","sacramento_kings","indiana_pacers","chicago_bulls","atlanta_hawks",
              "detroit_pistons","new_york_knicks","phoenix_suns","memphis_grizzlies","charlotte_hornets"]            
              
print(years)
print(team_names)
print(len(years))
print(len(team_names))

['2020-2021', '2019-2020', '2018-2019', '2017-2018', '2016-2017', '2015-2016', '2014-2015', '2013-2014', '2012-2013', '2011-2012', '2010-2011', '2009-2010', '2008-2009', '2007-2008', '2006-2007', '2005-2006', '2004-2005', '2003-2004', '2002-2003', '2001-2002']
['portland_trail_blazers', 'oklahoma_city_thunder', 'los_angeles_clippers', 'cleveland_cavaliers', 'philadelphia_76ers', 'miami_heat', 'golden_state_warriors', 'denver_nuggets', 'houston_rockets', 'orlando_magic', 'los_angeles_lakers', 'milwaukee_bucks', 'toronto_raptors', 'washington_wizards', 'dallas_mavericks', 'san_antonio_spurs', 'utah_jazz', 'brooklyn_nets', 'new_orleans_pelicans', 'boston_celtics', 'minnesota_timberwolves', 'sacramento_kings', 'indiana_pacers', 'chicago_bulls', 'atlanta_hawks', 'detroit_pistons', 'new_york_knicks', 'phoenix_suns', 'memphis_grizzlies', 'charlotte_hornets']
20
30

### Create a testing DataFrame by using f-strings

In [ ]:
url=f"https://hoopshype.com/salaries/{team_names[0]}/{years[0]}/"
print(url)

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')

salary_table = soup.find('table')



length=len(salary_table.find_all("td"))
player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]

df_dict={'player_names':player_names,
        'salary ($)':column1}
        
salary_portland20_21=pd.DataFrame(df_dict)

https://hoopshype.com/salaries/portland_trail_blazers/2020-2021/

In [ ]:
salary_portland20_21.replace({'\$':''}, regex = True,inplace=True)
salary_portland20_21.replace(',','', regex=True, inplace=True)

for item in salary_portland20_21.columns[1:]:
    
    salary_portland20_21[item]=pd.to_numeric(salary_portland20_21[item])
    
salary_portland20_21[:5]

       player_names  salary ($)
0    Damian Lillard    31626953
1       CJ McCollum    29354152
2      Jusuf Nurkic    12888889
3  Robert Covington    12138345
4     Norman Powell    10865952

### We are going to create a dictionary with keys being name of teams plus year using f-strings and their values will be their payroll as a DataFrame

In [ ]:
payrolls=dict()
for i in range(0,len(team_names)):
    for j in range(0,2):
        url = f"https://hoopshype.com/salaries/{team_names[i]}/{years[j]}/"
        
        salary_table = []
        try:
            r = requests.get(url,timeout=5)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        length=len(salary_table.find_all("td"))
        player_names=[salary_table.find_all("td")[i].text.strip() for i in range(3,length,3)]
        column1=[salary_table.find_all("td")[i].text.strip() for i in range(4,length,3)]
        
        #Scrape each players prosition from his personal URL
        column2 = []
        for k in range(0,len(player_names)):
            if k == len(player_names)-1:
                column2.append("NaN")
                break
            
            player_name_trans = player_names[k].replace(' ','-')
            url_player = f"https://hoopshype.com/player/{player_name_trans}/salary/"
            r = requests.get(url_player,timeout=5)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            htmlText = soup.find_all("span", class_="player-bio-text-line-value")
            positionString = str(htmlText[0])
            position = positionString.find(">")
            column2.append(positionString[position+1])
            
        salary_table = []
        try:
            r = requests.get(url,timeout=5)
            r_html = r.text
            soup = BeautifulSoup(r_html, 'html.parser')
            salary_table = soup.find('table')
        except:
            print("Something wrong")

        df_dict={'player_names':player_names,
                'salary ($)':column1,
                    'position':column2}
        
        tempDataFrame=pd.DataFrame(df_dict)
        
        #switching salaries to numeric values
        tempDataFrame.replace({'\$':''}, regex = True,inplace=True)
        tempDataFrame.replace(',','', regex=True, inplace=True)
        for item in tempDataFrame.columns[1:2]:
            tempDataFrame[item]=pd.to_numeric(tempDataFrame[item])
            
        
        payrolls[f"{team_names[i]}{years[j]}"] = tempDataFrame

### We will print first team's payroll of last year and last team's of first year

In [ ]:
payrolls["portland_trail_blazers2020-2021"]

In [ ]:
payrolls[f"denver_nuggets2013-2014"]

In [ ]:
url=f"https://hoopshype.com/player/stephen-curry/salary"

r = requests.get(url,timeout=2.5)
r_html = r.text

soup = BeautifulSoup(r_html, 'html.parser')
htmlText = soup.find_all("span", class_="player-bio-text-line-value")
positionString = str(htmlText[0])

position = positionString.find(">")

print(positionString[position+1])

In [ ]:
payrolls["phoenix_suns2020-2021"]